[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
modelscope = "*"
flask = "*"
flask-pymongo = "*"
jinja2 = "*"
pymongo = "*"
python-dotenv = "*"
flask-login = "*"
werkzeug = "*"
numpy = "*"
torch = "*"
transformers = "*"
bson = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.10"
